
body {
      margin: 0;
      background-color: #777;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
    }
 #calculator{
    width:260px;
   padding:20px;
   border-radius:10px;
   box-shadow: 0 0 20px #ffffff;
   
  }
  #in2{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
      gap: 10px;
  }
  .n, .e{
    height:50px;
    border-radius:5px;
    border:none;
    box-shadow:0 0 10px;
  }  
  #num{
    background-color:#000000;
    width:100%;
    height:50px;
    color:#ffffff; 
    font-size: 22px;
      padding: 10px;
      box-sizing: border-box;
      border: none;
      margin-bottom: 15px;
  }


